<!DOCTYPE html>
<html ng-app="login"  ng-controller="session_checkerCtrl" data-ng-init="check_session()">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="IUDX | Indian Urban Data Exchange">
  <meta name="organization" content="RBCCPS, IISc Bangalore">
  <meta name="keywords" content="IUDX, CATALOGUE, CATALOGUE, RBCCPS, IISc BANGALORE">
  <meta name="author" content="Jishnu Jaykumar P (http://jishnujayakumar.github.io)">
  <title>
    IUDX | Indian Urban Data Exchange
  </title>
  <!-- Favicon -->
  <link href="https://rawcdn.githack.com/rbccps-iisc/iudx-cdn/aefe12c01928a168bc1f4ca7103e6cfaacd7d77a/corinthian/assets/img/logo/iudx.png" rel="icon" type="image/png">
  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
  <!-- Icons -->
  <link href="https://rawcdn.githack.com/rbccps-iisc/iudx-cdn/aefe12c01928a168bc1f4ca7103e6cfaacd7d77a/corinthian/assets/vendor/nucleo/css/nucleo.css" rel="stylesheet">
  <link href="https://rawcdn.githack.com/rbccps-iisc/iudx-cdn/aefe12c01928a168bc1f4ca7103e6cfaacd7d77a/corinthian/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">
  <!-- Argon CSS -->
  <link type="text/css" href="https://rawcdn.githack.com/rbccps-iisc/iudx-cdn/aefe12c01928a168bc1f4ca7103e6cfaacd7d77a/corinthian/assets/css/argon.min.css?v=1.0.0" rel="stylesheet">
</head>
<body ng-controller="loginCtrl" class="bg-default" oncontextmenu="return false">
  <div class="main-content">
    <!-- Navbar -->
    <nav class="navbar navbar-top navbar-horizontal navbar-expand-md navbar-dark">
      <div class="container px-4">
        <a class="navbar-brand" href="#"><strong>{{ brand }}</strong>
          <!--img src="../assets/img/logo/iudx.svg"/-->
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse-main" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar-collapse-main">
          <!-- Collapse header -->
          <div class="navbar-collapse-header d-md-none">
            <div class="row">
              <div class="col-6 collapse-brand">
                <a href="#">
                  <img src="https://rawcdn.githack.com/rbccps-iisc/iudx-cdn/aefe12c01928a168bc1f4ca7103e6cfaacd7d77a/corinthian/assets/img/logo/iudx.png">
                </a>
              </div>
              <div class="col-6 collapse-close">
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar-collapse-main" aria-controls="sidenav-main" aria-expanded="false" aria-label="Toggle sidenav">
                  <span></span>
                  <span></span>
                </button>
              </div>
            </div>
          </div>
          <!-- Navbar items -->
         <ul class="navbar-nav ml-auto">
           <div data-ng-repeat="link in navbar_links">
           	<li class="nav-item">
              <a class="nav-link nav-link-icon" href="{{link.href}}">
                <i class="ni ni-{{link.legend}}"></i>
                <span class="nav-link-inner--text">{{link.text}}</span>
              </a>
            </li>
           </div>
          </ul>
        </div>
      </div>
    </nav>
    <!-- Header -->
    <div class="header bg-gradient-primary py-7 py-lg-8">
      <div class="container">
        <div class="header-body text-center mb-7">
          
        </div>
      </div>
      <div class="separator separator-bottom separator-skew zindex-100">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </div>
    <!-- Page content -->
    <div class="container mt--8 pb-5">
      <div class="row justify-content-center">
      <div class="card" style="width: 20rem;">
  <img class="card-img-top" src="https://rawcdn.githack.com/rbccps-iisc/iudx-cdn/aefe12c01928a168bc1f4ca7103e6cfaacd7d77a/corinthian/assets/img/error/403.png" alt="Access denied">
  <div class="card-body">
    <h5 class="card-title">403 : Access Forbidden</h5>
    <p class="card-text">You have tried to access a page you are not supposed to.</p>
    <a href="../../login" class="btn btn-primary">Go here</a>
  </div>
</div>
          </div>
      </div>
    </div>
  </div>
  <!-- Footer -->
  <footer ng-app="footer" class="py-5">
    <div ng-controller="footerCtrl" class="container">
      <div class="row align-items-center justify-content-xl-between">
        <div class="col-xl-6">
          <div class="copyright text-center text-xl-left text-muted">
            &copy; {{copyright_year}} <a href="{{copyright_owner.href}}" class="font-weight-bold ml-1" target="_blank">{{copyright_owner.name}}</a>
          </div>
        </div>
        <div class="col-xl-6">
          <ul class="nav nav-footer justify-content-center justify-content-xl-end">
          	<div data-ng-repeat="link in footer_links">
           		<li class="nav-item">
              <a href="{{link.href}}" class="nav-link" target="_blank">{{link.text}}</a>
            </li>
           </div>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  <!-- Argon Scripts -->
  <!-- Core -->
  <script src="https://rawcdn.githack.com/rbccps-iisc/iudx-cdn/aefe12c01928a168bc1f4ca7103e6cfaacd7d77a/corinthian/assets/vendor/jquery/dist/jquery.min.js"></script>
  <script src="https://rawcdn.githack.com/rbccps-iisc/iudx-cdn/aefe12c01928a168bc1f4ca7103e6cfaacd7d77a/corinthian/assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <!-- Argon JS -->
  <script src="https://rawcdn.githack.com/rbccps-iisc/iudx-cdn/aefe12c01928a168bc1f4ca7103e6cfaacd7d77a/corinthian/assets/js/argon.js?v=1.0.0"></script>
  <!-- Template used is argon from creative Tim -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <script src="https://rawcdn.githack.com/rbccps-iisc/iudx-cdn/aefe12c01928a168bc1f4ca7103e6cfaacd7d77a/corinthian/assets/js/angular/login_module.js"></script>
  <script src="https://rawcdn.githack.com/rbccps-iisc/iudx-cdn/aefe12c01928a168bc1f4ca7103e6cfaacd7d77a/corinthian/assets/js/angular/footer_module.js"></script>
  <script src="https://rawcdn.githack.com/rbccps-iisc/iudx-cdn/aefe12c01928a168bc1f4ca7103e6cfaacd7d77a/corinthian/assets/js/angular/ui_urls_module.js"></script>
  <script src="https://rawcdn.githack.com/rbccps-iisc/iudx-cdn/aefe12c01928a168bc1f4ca7103e6cfaacd7d77a/corinthian/assets/js/angular/session_checker_module.js"></script>
  <!-- <script src="https://rawcdn.githack.com/rbccps-iisc/iudx-cdn/aefe12c01928a168bc1f4ca7103e6cfaacd7d77a/corinthian/assets/js/lib/ajax/login.js"></script> -->
  <script type="text/javascript">
    // Disable ctrl+s to prevent downloading source code 
    $(document).bind('keydown', function(e) {
      if(e.ctrlKey && (e.which == 83)) {
        e.preventDefault();
        // alert('Ctrl+S');
        return false;
      }
    });
  </script>
</body>

</html>
