kore-publisher/.objs/
kore-publisher/hosts
kore-publisher/hostname
kore-publisher/kore.pid
kore-publisher/kore-publisher.so
kore-publisher/resolv.conf
authenticator/.objs/
authenticator/hosts
authenticator/hostname
authenticator/kore.pid
authenticator/authenticator.so
authenticator/resolv.conf
vars/
docker/daemon.log
kore-publisher/random.data
docker/.env
