sudo: required

dist: xenial

before_install:
  - ./tests/require.sh

language: python

install:
  - cd docker
  - ./install

before_script:
  - sleep 10

script:
  - cd ..
  - ./tests/test fxnl --random 
  - ./tests/test sec
