[
 {
	rabbitmq_mqtt,[{
		default_user, <<"?" >>
	},
	{
		default_pass, <<"?" >>
	},
	{
		allow_anonymous, false
	},
	{
		vhost, <<"?" >>
	},
	{
		exchange, <<"?" >>
	},
	{
		subscription_ttl, 1800000
	},
	{
		prefetch, 10
	},
	{
		ssl_listeners,[]
	},
	{
		tcp_listeners,[1883]
	},
	{
		tcp_listen_options,[{
			backlog, 128
		},
		{
			nodelay, true
		}]
	}]
},
{
	rabbit,[{
		auth_backends,[rabbit_auth_backend_http]
	}, {
		tcp_listeners,[5672]
	}]
},
{
	rabbitmq_auth_backend_http,
		[{
		http_method, get 
	},
	{
		user_path, "http://127.0.0.1/auth/user"
	},
	{
		vhost_path, "http://127.0.0.1/auth/vhost"
	},
	{
		resource_path, "http://127.0.0.1/auth/resource"
	},
	{
		topic_path, "http://127.0.0.1/auth/topic"
	}]
}
].
